<!DOCTYPE html>
<html lang="tr">
  <head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="author" content="Alperen Yurdakul">
    <title>Kullanıcı Girişi</title>
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendors styles-->
    <link rel="stylesheet" href="vendors/simplebar/css/simplebar.css">
    <link rel="stylesheet" href="css/vendors/simplebar.css">
    <!-- Main styles for this application-->
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="bg-light min-vh-100 d-flex flex-row align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="card-group d-block d-md-flex row">
              <div class="card col-md-7 p-4 mb-0">
                <div class="card-body">
                  <h1>Hesap Kapatma</h1>
                  <p class="text-medium-emphasis"><b id="userInfo"><%= name %> (ID: <%= id %>))</b><br>Bu hesabı kapatmak istediğinize emin misiniz?<br> (Bu geri döndürülebilir bir işlem, veriler silinmez)</p>

                  <div class="row">
                    <div class="col-6">
                      <button id="confirmBtn" class="btn btn-danger px-4" type="button">Hesabı Kapat</button>
                      <button onclick="history.back()" class="btn btn-secondary px-4" type="button">Geri Dön</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- CoreUI and necessary plugins-->
    <script src="vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
    <script src="vendors/simplebar/js/simplebar.min.js"></script>
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/jquery.preloader.min.js"></script>
    <script src="js/physapp.js"></script>

    <script>    
      $('#confirmBtn').on('click',()=>{
        $('body').preloader();
        physapp.disableUser(<%- id %>);
      });
    </script>

  </body>
</html>